<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.debug.teletubbies.mapper.ProductImgMapper">
    <resultMap id="BaseResultMap" type="com.debug.teletubbies.entity.ProductImg">
        <result column="flower_img_id" property="flowerImgId" jdbcType="VARCHAR"/>
        <result column="flower_id" property="flowerId" jdbcType="INTEGER"/>
        <result column="flower_img_path" property="flowerImgPath" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insert" parameterType="com.debug.teletubbies.entity.ProductImg">
    insert into flower_img (flower_img_id,flower_id, flower_img_path)
    values (#{flowerImgId},#{flowerId,jdbcType=INTEGER}, #{flowerImgPath,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.debug.teletubbies.entity.ProductImg">
        insert into flower_img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flowerImgId != null">
                flower_img_id,
            </if>
            <if test="flowerId != null">
                flower_id,
            </if>
            <if test="flowerImgPath != null">
                flower_img_path,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flowerImgId != null">
                #{flowerImgId,jdbcType=INTEGER},
            </if>
            <if test="flowerId != null">
                #{flowerId,jdbcType=INTEGER},
            </if>
            <if test="flowerImgPath != null">
                #{flowerImgPath,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--List<FlowerImg> getFlowerImgsById(Integer flowerId);-->
    <select id="getFlowerImgsById" resultType="com.debug.teletubbies.entity.ProductImg">
    select * from flower_img where flower_id = #{flowerId}
  </select>

    <!--void delFlowerImg(FlowerImg productImg);-->
    <delete id="delFlowerImg">
    delete from flower_img where flower_img_id = #{flowerImgId}
  </delete>

</mapper>