<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.debug.teletubbies.mapper.StatusMapper">
    <resultMap id="BaseResultMap" type="com.debug.teletubbies.entity.Status">
        <id column="status_id" property="statusId" jdbcType="INTEGER"/>
        <result column="status_name" property="statusName" jdbcType="VARCHAR"/>
        <result column="status_desc" property="statusDesc" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    status_id, status_name, status_desc
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from status
        where status_id = #{statusId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from status
    where status_id = #{statusId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.debug.teletubbies.entity.Status">
    insert into status (status_id, status_name, status_desc
      )
    values (#{statusId,jdbcType=INTEGER}, #{statusName,jdbcType=VARCHAR}, #{statusDesc,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.debug.teletubbies.entity.Status">
        insert into status
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="statusId != null">
                status_id,
            </if>
            <if test="statusName != null">
                status_name,
            </if>
            <if test="statusDesc != null">
                status_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="statusId != null">
                #{statusId,jdbcType=INTEGER},
            </if>
            <if test="statusName != null">
                #{statusName,jdbcType=VARCHAR},
            </if>
            <if test="statusDesc != null">
                #{statusDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.debug.teletubbies.entity.Status">
        update status
        <set>
            <if test="statusName != null">
                status_name = #{statusName,jdbcType=VARCHAR},
            </if>
            <if test="statusDesc != null">
                status_desc = #{statusDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where status_id = #{statusId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.debug.teletubbies.entity.Status">
    update status
    set status_name = #{statusName,jdbcType=VARCHAR},
      status_desc = #{statusDesc,jdbcType=VARCHAR}
    where status_id = #{statusId,jdbcType=INTEGER}
  </update>
</mapper>